.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  align-items: end;
}

.fieldWithLabel {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.fieldLabel {
  font-size: 14px;
  font-weight: 400;
  color: var(--DarkSlateGray, #226078);
}
