.pageRoot {
  box-sizing: border-box;
  height: calc(100dvh - 36px);
  min-height: calc(100dvh - 36px);
  max-height: calc(100dvh - 36px);
  /* overflow: hidden; */
}

@media (max-width: 1200px) {
  .pageRoot {
    height: auto;
    min-height: 0;
    max-height: none;
    overflow: visible;
  }
}
