.surface {
  --modal-frame-max-width: 500px;
}

.body {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer {
  padding: 16px 24px 24px;
  display: grid;
  gap: 12px;
}

.footer.create {
  grid-template-columns: 1fr 1fr;
}

.footer.edit {
  grid-template-columns: 1fr 1fr 1fr;
}
